html 
    body
        h1 Drugi Projekt 
        hr
        h2 SQL umetanje (SQL Injection)
        div(class="sql-injection")
            p <b>Upute:</b> Ovo je primjer sql-ubacivanja, dohvaćaju se podaci o studentima koji imaju zadanu završnu ocjenu. Ako se na kraj unosa doda or 1=1 ispisat će se svi studenti uključujući i tajnog studenta s ocjenom 126 
            form(action="",method="get")
                div
                    label(for="sql-input") Unesite završnu ocjenu
                    input(type="text", name="sql-input",id="sql-input")
                    input(type="button",id="btnSql",value="submit")
                div
                    label(for="sql-check") Isključi ranjivost
                    input(type="checkbox",name="sql-check",id="sql-check")
            div(class="student-container")
                
        hr
        h2 Lažiranje zahtjeva na drugom sjedištu (Cross Site Request Forgery, CSRF)
       
        div(class="CSRF")
            p(id="show-username") #{username ? username : ""}
            div(class ="visible-logged-out",id="login-form", hidden = username ? true : false )
                form(action="",method="post")
                    div
                        label(for="CSRF-login-username") username 
                        input(class="cleanable-value",type="text",name="login-username",id="CSRF-login-username")
                    div 
                        label(for="CSRf-login-password") password 
                        input(class="cleanable-value",type="password",name="login-password",id="CSRf-login-password")
                    div 
                        input(type="button",id="btn-CSRF-login",value="login")
            div(id="warning",hidden,style="color: red")
                p Invalid credentials
            div(class ="visible-logged-in",id="change-password-form",hidden = username ? false : true)
                form(action="",method="get")
                    div
                        label(for="CSRF-change-password") enter password 
                        input(class="cleanable-value",type="password",name="change-password",id="CSRF-change-password")
                    div 
                        label(for="CSRF-change-control-password") repeat password 
                        input(class="cleanable-value",type="password",name="change-control-password",id="CSRF-change-control-password")
                    div 
                        input(type="button",id="btn-CSRF-change",value="change")
                    p(id="change-password-status",style="color: orange")
                    div(hidden)
                        input(class="cleanable-value",type="text",id="CSRF-token-input",value=token) 
            div(class ="visible-logged-in", id="verify-credentials-from",hidden = username ? false : true)
                form(action="",method="post")
                    div 
                        label(for="CSRF-verify-password") enter password to see if it is valid
                        input(class="cleanable-value",type="password",id="CSRF-verify-password")
                        input(type="button",id="btn-verify-password",value="check")
                    div 
                        p(id="password-verify-status")
            div(class ="visible-logged-in",id="logout-from",hidden = username ? false : true)
                form(action="",method="post")
                    input(type="button",id="btn-CSRF-logout",value="logout")
            
            div(id="CSRF-toggle-form")
                form(action="CSRF/toggle",method="post")
                    input(type="button",name="btnCSRF",id="btnCSRF",value = (isCSRFSafe ? "Uključi ranjivost":"Isključi ranjivost"))
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
        script 
            include ../public/js/index.js  
   
